
/* Header */

.background_img {
  width: 100%;
  height: 550px;
  position: relative;
  top: 50px;
  z-index: -1; /* pushes image to the back of the webpage */
  opacity: 0.75;
}

h1 {
  color: white;
  position: absolute;
  left: 250px;
  top: 150px;
  font-size: 50px;
  font-family: Calibri;
}

header p {
  color: white;
  font-size: 25px;
  position: relative;
  bottom: 300px;
  left: 250px;
}

/* Navigation bar */

nav {
  background-color: black;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  height: 65px;
  display: flex;
  align-items: center;
  z-index: 1;
}

nav * {
  display: inline;
}

nav li {
  margin: 50px;
  cursor: pointer;
  align-items: center;
}

nav li a {
  color: white;
  text-decoration: none;
}

nav li :hover {
  opacity: 0.5;
}

h2 {
  font-size: 40px;
}

/* Makes text a square box */

.square {
  width: 40%;
  height: 40%;
  position: relative;
  margin-left: 15%;
  margin-top: 10%;
}

.square p {
  padding-top: 5%;
}

.square img {
  height:60% ;
  width: 75%;
  position: relative;
  left: 90%;
}

.square_right {
    width: 40%;
    height: 40%;
    position: relative;
    margin-left: 50%;
    bottom: 110px;
}

.square_right p {
    padding-top: 5%;
    padding-bottom: 5%;
}

/* Aligns img to the right */

.right_img {
    height: 20%;
    width: 30%;
    position: relative;
    left: 55%;
    bottom: 150px;
}

* {
  margin: 0;
  padding: 0;
  font-family: Calibri;
  font-size: 18px;
  overflow-x: hidden;
  line-height: 1.5;
}